.answer-buttons-container  {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows:  7;
}

.answer-button {
    border-radius: 1000px; /* any large number of pixels gets the desired effect */
    font-size: 14pt;
    border: none;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    /* spacing for answer buttons */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.green {
    background-color: #60BD48;
    color: white
}

.white {
    background-color: #DDDDDD;
    color: black;
}

.red {
    background-color: #BC3C3D;
    color: white;
}
