.app {
    font-family: 'Quicksand', sans-serif;
}

.app button:focus {
  outline: none;
}

.max-width {
    max-width: 500px;
    margin: auto;
    overflow-x: hidden;
}

.content {
    padding: 10px;
}
