.continue-button {
    width: 100%;

    border-radius: 20px;
    border: none;
    padding: 10px;
    background-color: #60BD48;

    /* text */
    color: white;
    font-size: 24pt;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: .1em;

    /* spacing */
    margin-top: 30px;
}
