.top-bar {
    background-color: #2e2e2e;
    height: 40px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
}

.start-quiz-button  {
    background-color: #60BD48;
}


.source-link {
    text-align: center;
    display: block;
    padding-top: 30px;
}

.three-exercise-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1;
    grid-column-gap: 20px;
}

.exercise-1 {
    grid-row: 1;
    grid-column: 1;
}

.exercise-3 {
    grid-row: 1;
    grid-column: 3;
}

.exercise-3 {
    grid-row: 1;
    grid-column: 3;
}
