.link-button {
    display: block;
    text-align: center;

    border-radius: 20px;
    border: none;
    padding: 10px;

    /* text */
    color: white;
    font-size: 24pt;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: .1em;
    text-decoration: none;

    /* spacing */
    margin-top: 30px;
}
