.quiz {
    max-width: 500px;
    padding: 10px;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
}

.quiz button:focus {
  outline: none;
}

.again-button {
    background-color: #60BD48;
}
